.pomodoro--tips {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.pomodoro--tips:first-child {
    margin-top: 80px;
}

.pomodoro--tips:last-child {
    margin-bottom: 50px;
}

.pomodoro--tips ol li {
    margin-top: 10px;
}