:root {
    --color-red-primary: #CC4746;
    --color-red-light: #FF7170;
    --color-red-pink: #FFA4A3;
    --color-white: #FFF;
    --color-off-white: #FFF9F2;
    --color-dark-grey: #282828;
    --color-black: #000;
  }