button {
    cursor: pointer;
}

button + button {
    margin-left: 10px;
}

.timer--btn {
    background-color: var(--color-red-primary);
    color: var(--color-off-white);
}

.timer--timer {
    font-size: 120px;
    margin: 30px 0;
}