.footer--container {
  max-width: 1200px;
  margin: 70px auto;
}

.footer--nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer--nav ul {
  margin-top: 20px;
}

.form--wrapper {
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 25px;
}

.form--wrapper input {
  width: 353px;
  margin-top: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: medium;
  padding: 10px 20px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.form--wrapper button {
  width: 50%;
  margin-top: 10px;
}

.bottom--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer--logo {
  width: 20%;
}

.socials--container img {
  margin: 5px;
  width: 3rem;
}

.terms--privacy--container a:nth-child(2) {
  margin: 30px;
}

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 25px;
  outline: none;
}
