.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-off-white)
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto 80px;
  display: flex;
  align-items: center;
}

.mainImage {
  width: 70%;
}

h1 {
  margin-bottom: 20px;
}
