a {
    color: #0074C2;
}
.content--wrapper {
    
    margin: 80px;
}

.signIn--wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--color-off-white);
    display: flex;
    justify-content: center;
    align-items: center;

}
.signIn--container {
    border-radius: 20px;
    background-color: var(--color-white);
    width: 1000px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.promptText--wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.signIn--inputs {
    display: flex;
    flex-direction: column;
}
.inputfield {
    box-sizing: border-box;
    outline: none;
    margin-top: 3rem;
    border: none;
    border-bottom: 1px solid #DCDCDC ;
    padding: 1rem 0rem 1rem;
}

.signIn--button {
    margin-top: 50px;
    max-width: 30%;
}
.signIn--btn-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}