.signIn--container {
  background-color: var(--color-off-white);
  display: flex;
}

.signIn--card {
  margin: 100px auto;
  padding: 50px 100px;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form--inputs {
  display: flex;
  flex-direction: column;
}
.inputfield {
  margin-top: 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  padding: 1rem 0rem 1rem;
}

.signIn--button {
  margin-top: 10px;
  width: 50%;
}

.p--link {
  color: #0074c2;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.signIn--title {
  width: 80%;
}
